$primaryColor: darkcyan;
$secondaryColor: darkslategray;

html {
    font-family: generalFont;
}

h1 {
    color: $primaryColor;
}

h2 {
    color: $secondaryColor;
    display: block;
    height: 140px;
    background: url("../images/bad.png");
}